.modal-backdrop {
    z-index: 880 !important;
}
.modal-content {
    margin: 2px auto;
    z-index: 840 !important;
}

#loginbtn {

color:white;
background-color: transparent;
}
li{
    color:white;
}